:root {
  --cui-btn-padding-x: 1rem;
  --cui-btn-padding-y: 0.5rem;
  --cui-btn-font-family: 'Geometric-706-Medium';
  --cui-btn-font-size: 1rem;
  --cui-btn-font-weight: 500;
  --cui-btn-line-height: 1.5;
  --cui-btn-color: #000;
  --cui-btn-bg: transparent;
  --cui-btn-border-width: 0.5px;
  --cui-btn-border-color: #000;
  --cui-btn-border-radius: 0.25rem;
  --cui-btn-hover-border-color: #607D48;
  --cui-btn-hover-background-color: rgba(255, 255, 255, 0.5);
  --cui-btn-box-shadow: none;
  --cui-btn-disabled-opacity: 0.65;
  --cui-btn-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.cui-btn {
  padding: var(--cui-btn-padding-y) var(--cui-btn-padding-x);
  font-family: var(--cui-btn-font-family);
  font-size: var(--cui-btn-font-size);
  font-weight: var(--cui-btn-font-weight);
  line-height: var(--cui-btn-line-height);
  color: var(--cui-btn-color);
  background-color: var(--cui-btn-bg);
  border-width: var(--cui-btn-border-width);
  border-color: var(--cui-btn-border-color);
  cursor: pointer;

  &:hover {
    border-color: var(--cui-btn-hover-border-color);
    background-color: var(--cui-btn-hover-background-color);
  }

  &:disabled {
    opacity: var(--cui-btn-disabled-opacity);
  }

}
